**/*
**/venv/
!**/*.*
!**/*/
**/*.class
**/*.exe
**/*.tz
**/*.pack
**/*.pack.tz
**/*.png
**/*.jpg
**/*.jpeg
**/node_modules/
**/*.json
**/node_modules/*/
**/node_modules/*/*.*
**/*.map
**/modules/

